 
/* root criação de variavel global */
:root {
    --primay-color: #fd951f;
    --bg-color: #130f0d;
    --tex-color: #f0f0f5;
    --linght-color: rgba(255, 255, 255, 0.4);
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }